<!doctype html>
<html ng-app="ladestasjon1">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="lib/angular.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script type="text/javascript" src="js/script.js"></script>

</head>
<body ng-controller="LadestasjonReq">
<div>
    <label>Search for a city:</label>
    <input type="text" ng-model="cityName" ng-init="cityName='oslo'" placeholder="Enter a city name here">
    <hr>
    <h2>Searched address: {{cityName}}</h2>
</div>
    <ul>
        <li ng-repeat="d in data.chargerstations">{{d.csmd.id}}, {{d.csmd.name}}, {{d.csmd.Position}}</li>
        
       <li ng-repeat="d in data">{{d}}</li>
    </ul>
    

</body>
</html>

